html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./../../pildid/veebileht/BG1.png");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}


h1 {
  color: #2b6b2b;
}

.pealkiri {
  width: 100%;
  text-align: center;
  background-color: #fdb5ff;
  border: 3px solid #d128a4;
  padding: 20px 0;
  margin: 0;
  color: #d128a4;
  font-family: "Itim";
  font-size: 250%;
  box-sizing: border-box;
}

.pealkiri-kast {
  width: 800px;
  text-align: center;
  background-color: #fdb5ff;
  border: 3px solid #d128a4;
  padding: 15px 20px;
  color: #d128a4;
  font-family: "Itim";
  margin: 10px auto 0 auto;
}


.icons {
  width: 250px;     /* PARANDATUD */
  height: 250px;    /* PARANDATUD */
  display: block;
  margin: 0 auto;
  cursor: pointer;
}


table {
  border-collapse: collapse;
  margin-left: auto;    /* keskjoondus */
  margin-right: auto;   /* keskjoondus */
  margin-top: 20px;
}

tr {
  text-align: center;
}

td {
  padding: 20px;     /* parem spacing */
  border: none;
}


.otsi {
  width: 800px;
  text-align: center;
  background-color: #fdb5ff;
  border: 3px solid #d128a4;
  padding: 15px 20px;
  color: #d128a4;
  font-family: "Itim";
  margin: 20px auto;
  font-size: 150%;
}

.suggestion,
.no-suggestion {
  border: 3px solid #d128a4;
  width: 800px;
  margin: 20px auto;
  padding: 16px;
  background: #fdb5ff;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 12px;
}

.suggestion-text {
  font-size: large;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

#search {
  width: 700px;
  padding: 12px 16px;
  font-size: 18px;

  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.2s ease;
}

#search:focus {
  border-color: #888;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

#search-btn {
  padding: 12px 20px;
  width: 80px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #fdb5ff;
  color: black;
  cursor: pointer;
  transition: 0.25s ease;

  border: 3px solid #d128a4;
}

#search-btn:hover {
  background: #d128a4;
}

.selected {
  border: solid;
}
